{ config, pkgs, lib, vars, ... }:
{
  imports = [
    ./packages/stable.nix
    ./packages/unstable.nix
  ];
  home= {
    username = vars.username;
    homeDirectory = vars.homeDirectory;
    stateVersion = vars.stateVersion;
    activation = {
      linkDesktopApplications = {
        after = ["writeBoundary" "createXdgUserDirectories" ];
        before = [];
        # make .desktop files executable for KDE
        data = "find {{ .chezmoi.homeDir }}/{{ .paths.nix_user_profile }}/share/applications/ -iname '*.desktop' | xargs --no-run-if-empty --max-args=1 readlink | xargs --no-run-if-empty chmod +x";
      };
    };
  };
  nixpkgs.config.allowUnfree = true;
  programs = {
    home-manager.enable = true;
    nix-index = {
      enable = true;
      enableBashIntegration = true;
      enableFishIntegration = true;
      enableZshIntegration = true;
    };
    command-not-found.enable = false;
    direnv = {
      enable = true;
      nix-direnv.enable = true;
    };
  };
  targets.genericLinux.enable = true;
  xdg.mime.enable = true;
}
