[Unit]
Description=Daily update of ClamAV virus definitions

[Timer]
OnCalendar=daily
RandomizedDelaySec=3600
Persistent=true

[Install]
WantedBy=timers.target
