[Unit]
Description=Daily deletion of old home-manager generations

[Timer]
OnCalendar=*-*-* 5:00:00
Persistent=true

[Install]
WantedBy=timers.target
