[Unit]
Description=FTP file read permission applier

[Service]
Type=simple
ExecStart=/bin/bash -c '\
  inotifywait --monitor --recursive --format %%w%%f --event create /storage/FTP | \
  while read -r file; do chmod a+r "$file"; done'
Restart=always

[Install]
WantedBy=default.target
