[Unit]
Description=Apply Linux capabilities to nix-installed network tools
After=default.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/nix-setcap

[Install]
WantedBy=default.target
