[Unit]
Description=Updates tldr pages cache

[Service]
Type=oneshot
Environment="PATH=$PATH:%h/.nix-profile/bin"
ExecStart=/usr/bin/bash '$$(which tldr) --clear-cache --update'
