[Unit]
Description=Deletes trash items older than 30 days

[Service]
Type=oneshot
# TODO use ExecSearchPath when all boxes are on systemd 250+
ExecStart=/usr/bin/bash -i -c '$$(which trash-empty) 30'
