[Unit]
Description=Deletes trash items older than 30 days

[Service]
Type=oneshot
Environment="PATH=$PATH:%h/.nix-profile/bin"
ExecStart=/usr/bin/bash '$$(which trash-empty) 30'
