# renovate: datasource=github-digest depName=nordtheme/alacritty branch=main
['{{ .paths.xdg_config_home }}/alacritty/colors.yml']
type = 'file'
url = 'https://raw.githubusercontent.com/nordtheme/alacritty/9949642f3903e8fcb62bfc03f09410e3d78440c2/src/nord.yaml'
refreshPeriod = '0'
filter.command = 'sed'
filter.args = ['s/^    bar:$/  footer_bar:/']

# renovate: datasource=github-digest depName=cykerway/complete-alias branch=master
['{{ .paths.xdg_config_home }}/bash/complete_alias.bash']
type = 'file'
url = 'https://raw.githubusercontent.com/cykerway/complete-alias/7f2555c2fe7a1f248ed2d4301e46c8eebcbbc4e2/complete_alias'
refreshPeriod = '0'

# renovate: datasource=github-digest depName=nidhinjs/prompt-master branch=main
['{{ .paths.xdg_config_home }}/claude/shared/skills/prompt-master']
type = 'archive'
url = 'https://github.com/nidhinjs/prompt-master/archive/2bd92518e26bf659e21e3d9ab90573fcf3ddeccb.zip'
exact = true
stripComponents = 1
refreshPeriod = '0'

# Disabled - this eats tokens
#['{{ .paths.xdg_config_home }}/claude/shared/skills/task-observer']
#type = 'git-repo'
#url = 'git@github.com:rebelytics/one-skill-to-rule-them-all.git'
#refreshPeriod = '1h'

# renovate: datasource=github-digest depName=nordtheme/dircolors branch=develop
['{{ .paths.xdg_config_home }}/dircolors']
type = 'file'
url = 'https://raw.githubusercontent.com/nordtheme/dircolors/0a4906965e2b7b181d2b8f15395dcae2c43ace38/src/dir_colors'
refreshPeriod = '0'

# renovate: datasource=github-digest depName=connorholyday/nord-kitty branch=master
['{{ .paths.xdg_config_home }}/kitty/conf/nord.conf']
type = 'file'
url = 'https://raw.githubusercontent.com/connorholyday/nord-kitty/3a819c1f207cd2f98a6b7c7f9ebf1c60da91c9e9/nord.conf'
refreshPeriod = '0'

# renovate: datasource=github-digest depName=flexibeast/kitty_keys branch=main
['{{ .paths.xdg_config_home }}/kitty/kitty_keys.sh']
type = 'file'
url = 'https://raw.githubusercontent.com/flexibeast/kitty_keys/113afd95feaadd788b79fdd01310847d32a5b687/kitty_keys.sh'
refreshPeriod = '0'

# renovate: datasource=github-digest depName=lite-xl/lite-xl-colors branch=master
['{{ .paths.xdg_config_home }}/lite-xl/colors']
type = 'archive'
url = 'https://github.com/lite-xl/lite-xl-colors/archive/bc9f538c7ffe363cd0b0e26cc9effb29192c5405.zip'
exact = true
stripComponents = 2
refreshPeriod = '0'
include = ['*/colors/*.lua']

# renovate: datasource=github-digest depName=lite-xl/lite-xl-widgets branch=master
['{{ .paths.xdg_config_home }}/lite-xl/libraries/widget']
type = 'archive'
url = 'https://github.com/lite-xl/lite-xl-widgets/archive/dcf1c8c7087638b879d5c9c835686ccd79f963ec.zip'
exact = true
stripComponents = 1
refreshPeriod = '0'
include = [
  '*/*.lua',
  '*/fonts',
  '*/fonts/*.lua'
]

# renovate: datasource=github-digest depName=lite-xl/lite-xl-plugins branch=master
['{{ .paths.xdg_config_home }}/lite-xl/plugins']
type = 'archive'
url = 'https://github.com/lite-xl/lite-xl-plugins/archive/ba6bff1de455a65bf4f5a60f04e07ff390911937.zip'
stripComponents = 2
refreshPeriod = '0'
include = [
  '*/plugins/bracketmatch.lua',
  '*/plugins/copyfilelocation.lua',
  '*/plugins/editorconfig',
  '*/plugins/editorconfig/*.lua',
  '*/plugins/gitstatus.lua',
  '*/plugins/indent_convert.lua',
  '*/plugins/indentguide.lua',
  '*/plugins/language_diff.lua',
  '*/plugins/language_env.lua',
  '*/plugins/language_fstab.lua',
  '*/plugins/language_go.lua',
  '*/plugins/language_groovy.lua',
  '*/plugins/language_ignore.lua',
  '*/plugins/language_ini.lua',
  '*/plugins/language_java.lua',
  '*/plugins/language_json.lua',
  '*/plugins/language_kotlin.lua',
  '*/plugins/language_make.lua',
  '*/plugins/language_nix.lua',
  '*/plugins/language_scala.lua',
  '*/plugins/language_sh.lua',
  '*/plugins/language_ssh_config.lua',
  '*/plugins/language_toml.lua',
  '*/plugins/language_ts.lua',
  '*/plugins/language_yaml.lua',
  '*/plugins/minimap.lua',
  '*/plugins/rainbowparen.lua',
  '*/plugins/search_ui.lua',
  '*/plugins/selectionhighlight.lua',
  '*/plugins/settings.lua',
  '*/plugins/sort.lua',
  '*/plugins/su_save.lua',
  '*/plugins/wordcount.lua'
]

# renovate: datasource=github-digest depName=lite-xl/lite-xl-lsp-servers branch=master
['{{ .paths.xdg_config_home }}/lite-xl/plugins/lsp-servers']
type = 'archive'
url = 'https://github.com/lite-xl/lite-xl-lsp-servers/archive/3d77d7c38f3ae0620f00907aa3b75baba85e1660.zip'
stripComponents = 2
refreshPeriod = '0'
include = ['*/plugins/*.lua']

# renovate: datasource=github-digest depName=chqs-git/code-plus branch=main
['{{ .paths.xdg_config_home }}/lite-xl/plugins/code-plus.lua']
type = 'file'
url = 'https://raw.githubusercontent.com/chqs-git/code-plus/873dbc74d4ff5b858807686b8ee1c9c9182745e4/init.lua'
refreshPeriod = '0'

# renovate: datasource=github-digest depName=ShadiestGoat/lite-xl-exterm branch=main
['{{ .paths.xdg_config_home }}/lite-xl/plugins/exterm.lua']
type = 'file'
url = 'https://raw.githubusercontent.com/ShadiestGoat/lite-xl-exterm/aca8827fc1af831890cffd3dd122debac72429c6/exterm.lua'
refreshPeriod = '0'

# renovate: datasource=github-digest depName=vincens2005/lite-xl-gitdiff-highlight branch=master
['{{ .paths.xdg_config_home }}/lite-xl/plugins/gitdiff_highlight']
type = 'archive'
url = 'https://github.com/vincens2005/lite-xl-gitdiff-highlight/archive/f0e02b6a7299acbeb4a5f137b26830a6cca96cc8.zip'
exact = true
stripComponents = 1
refreshPeriod = '0'

# renovate: datasource=github-digest depName=FilBot3/lite-xl-language-containerfile branch=main
['{{ .paths.xdg_config_home }}/lite-xl/plugins/language_containerfile.lua']
type = 'file'
url = 'https://raw.githubusercontent.com/FilBot3/lite-xl-language-containerfile/ae4eddc3f3fa1a0db56344b3b6db0ec0f2283880/init.lua'
refreshPeriod = '0'

# renovate: datasource=github-digest depName=liquidev/lintplus branch=master
['{{ .paths.xdg_config_home }}/lite-xl/plugins/lintplus']
type = 'archive'
url = 'https://github.com/liquidev/lintplus/archive/1aa6d2d0d799fa20c0fd52efaf89243424c840b0.zip'
exact = true
stripComponents = 1
refreshPeriod = '0'
include = [
  '*/*.lua',
  '*/linters',
  '*/linters/*.lua'
]

# renovate: datasource=github-digest depName=lite-xl/lite-xl-lsp branch=master
['{{ .paths.xdg_config_home }}/lite-xl/plugins/lsp']
type = 'archive'
url = 'https://github.com/lite-xl/lite-xl-lsp/archive/d1432ae0736cd9531798b4bc1221835f534cc689.zip'
exact = true
stripComponents = 1
refreshPeriod = '0'
include = ['*/*.lua']

# renovate: datasource=github-digest depName=vqns/lite-xl-snippets branch=main
['{{ .paths.xdg_config_home }}/lite-xl/plugins/lsp_snippets.lua']
type = 'file'
url = 'https://raw.githubusercontent.com/vqns/lite-xl-snippets/87248a23c8ceb2507f46b3ca3689b32d35c9c709/lsp_snippets.lua'
refreshPeriod = '0'

# renovate: datasource=github-digest depName=vqns/lite-xl-snippets branch=main
['{{ .paths.xdg_config_home }}/lite-xl/plugins/snippets.lua']
type = 'file'
url = 'https://raw.githubusercontent.com/vqns/lite-xl-snippets/87248a23c8ceb2507f46b3ca3689b32d35c9c709/snippets.lua'
refreshPeriod = '0'

# renovate: datasource=github-digest depName=scopatz/nanorc branch=master
['{{ .paths.xdg_config_home }}/nano/syntax_highlighting']
type = 'archive'
url = 'https://github.com/scopatz/nanorc/archive/1aa64a86cf4c750e4d4788ef1a19d7a71ab641dd.tar.gz'
exact = true
stripComponents = 1
refreshPeriod = '0'
include = ['*/*.nanorc']

# renovate: datasource=github-digest depName=nordtheme/vim branch=main
['{{ .paths.xdg_config_home }}/nvim/colors/nord.vim']
type = 'file'
url = 'https://raw.githubusercontent.com/nordtheme/vim/f13f5dfbb784deddbc1d8195f34dfd9ec73e2295/colors/nord.vim'
refreshPeriod = '0'

# renovate: datasource=github-digest depName=nordtheme/tilix branch=develop
['{{ .paths.xdg_config_home }}/tilix/schemes/nord.json']
type = 'file'
url = 'https://raw.githubusercontent.com/nordtheme/tilix/3d7ce063694c446010a99ee65139765d83a4a5ae/src/json/nord.json'
refreshPeriod = '0'

# renovate: datasource=github-digest depName=nordtheme/xresources branch=develop
['{{ .paths.xdg_config_home }}/X11/Xresources']
type = 'file'
url = 'https://raw.githubusercontent.com/nordtheme/xresources/2e4d108bcf044d28469e098979bf6294329813fc/src/nord'
refreshPeriod = '0'

# renovate: datasource=github-digest depName=BachoSeven/dotfiles branch=master
['{{ .paths.xdg_bin_home }}/ansi-colors']
type = 'file'
url = 'https://raw.githubusercontent.com/BachoSeven/dotfiles/8e53ab880686cbc478f923a8625de102f44ca5f7/.local/bin/colors/16'
refreshPeriod = '0'
executable = true

# renovate: datasource=github-digest depName=statico/dotfiles branch=main
['{{ .paths.xdg_bin_home }}/ansi-modes']
type = 'file'
url = 'https://raw.githubusercontent.com/statico/dotfiles/6870dcff3a3d6928c7eb5eed924eecc938abdd53/bin/ansimodes'
refreshPeriod = '0'
executable = true

# renovate: datasource=github-digest depName=ivan-hc/AM branch=main
['{{ .paths.xdg_bin_home }}/appman']
type = 'file'
url = 'https://raw.githubusercontent.com/ivan-hc/AM/c01ee9c2fdff007c4fcbf47a95a65a37648ea226/APP-MANAGER'
refreshPeriod = '0'
executable = true

# renovate: datasource=github-digest depName=xero/dotfiles branch=main
['{{ .paths.xdg_bin_home }}/colorscheme']
type = 'file'
url = 'https://raw.githubusercontent.com/xero/dotfiles/5204a2b74f9af6b979b88f71a696eca872396a33/fun/.local/bin/colorscheme'
refreshPeriod = '0'
executable = true

# renovate: datasource=github-digest depName=mag37/dockcheck branch=main
['{{ .paths.xdg_bin_home }}/dockcheck']
type = 'file'
url = 'https://raw.githubusercontent.com/mag37/dockcheck/a8377fa90c2e6de22baeab3184df1a5e45953109/dockcheck.sh'
refreshPeriod = '0'
executable = true

# renovate: datasource=github-digest depName=newren/git-filter-repo branch=main
['{{ .paths.xdg_bin_home }}/git-filter-repo']
type = 'file'
url = 'https://raw.githubusercontent.com/newren/git-filter-repo/d7b75aca907380f608892cc289e616f195427b99/git-filter-repo'
refreshPeriod = '0'
executable = true

# renovate: datasource=github-digest depName=DanielVartanov/willgit branch=master
['{{ .paths.xdg_bin_home }}/git-wtf']
type = 'file'
url = 'https://raw.githubusercontent.com/DanielVartanov/willgit/07e9bfd03e8bf512481bdeb77acec2d8c84b4595/bin/git-wtf'
refreshPeriod = '0'
executable = true

# renovate: datasource=github-digest depName=ryanoasis/nerd-fonts branch=master
['{{ .paths.xdg_bin_home }}/nerd-font-test']
type = 'file'
url = 'https://raw.githubusercontent.com/ryanoasis/nerd-fonts/73e5da3b3353b78afcf32734281a18b5d3dc5c8f/bin/scripts/test-fonts.sh'
refreshPeriod = '0'
executable = true

# renovate: datasource=github-digest depName=xero/dotfiles branch=main
['{{ .paths.xdg_bin_home }}/rain']
type = 'file'
url = 'https://raw.githubusercontent.com/xero/dotfiles/5204a2b74f9af6b979b88f71a696eca872396a33/fun/.local/bin/rain'
refreshPeriod = '0'
executable = true

# renovate: datasource=github-digest depName=sapegin/dotfiles branch=master
['{{ .paths.xdg_bin_home }}/starship-git-simple']
type = 'file'
url = 'https://raw.githubusercontent.com/sapegin/dotfiles/b92f2112f1a61d324db29ca1a04ab167f10866c6/bin/lib/starship-git-simple'
refreshPeriod = '0'
executable = true

# renovate: datasource=github-digest depName=juven/maven-bash-completion branch=master
['{{ .paths.xdg_data_home }}/bash-completion/completions/mvn']
type = 'file'
url = 'https://raw.githubusercontent.com/juven/maven-bash-completion/216cd667b6119fe200c98b1ac2d030ac002be197/bash_completion.bash'
refreshPeriod = '0'

# renovate: datasource=github-digest depName=nordtheme/gedit branch=develop
['{{ .paths.xdg_data_home }}/gedit/styles/nord.xml']
type = 'file'
url = 'https://raw.githubusercontent.com/nordtheme/gedit/8d58a7fdd31176d32d4c152b3642b27403ca02eb/src/xml/nord.xml'
refreshPeriod = '0'

# renovate: datasource=github-digest depName=nordtheme/konsole branch=develop
['{{ .paths.xdg_data_home }}/konsole/nord.colorscheme']
type = 'file'
url = 'https://raw.githubusercontent.com/nordtheme/konsole/fb117d12e2152a7a317927ce1f964f17e791764e/src/nord.colorscheme'
refreshPeriod = '0'

# renovate: datasource=github-digest depName=SilentGlasses/warp_themes branch=main
['{{ .paths.xdg_data_home }}/warp-terminal/themes/nord_dark.yaml']
type = 'file'
url = 'https://raw.githubusercontent.com/SilentGlasses/warp_themes/b9494d49181db84cfd89652baf18ad9a0b5bedf5/yaml_files/nord_dark.yaml'
refreshPeriod = '0'

# renovate: datasource=github-digest depName=nordtheme/xfce-terminal branch=develop
['{{ .paths.xdg_data_home }}/xfce4/terminal/colorschemes/nord.theme']
type = 'file'
url = 'https://raw.githubusercontent.com/nordtheme/xfce-terminal/25866d6af8d6532e4b968f183a28bf5df92fae06/src/nord.theme'
refreshPeriod = '0'

['{{ .paths.personal_projects_dir }}/crypt']
type = 'git-repo'
url = 'git@github.com:rvenutolo/crypt.git'
refreshPeriod = '0'

['{{ .paths.personal_projects_dir }}/packages']
type = 'git-repo'
url = 'git@github.com:rvenutolo/packages.git'
refreshPeriod = '0'

['{{ .paths.personal_projects_dir }}/scripts']
type = 'git-repo'
url = 'git@github.com:rvenutolo/scripts.git'
refreshPeriod = '0'
