encryption = 'age'
format = 'yaml'
progress = true

[age]
    identity = '~/.config/chezmoi/age_key.txt'
    recipient = 'age1v9umzaqlw3euuwd20l605qeyqp9cmqxf3flzz0eh9gj5vxslsarq6fy8gs'

[data]
personal_or_work = {{ promptString "'personal' or 'work'?" | squote }}
desktop_or_laptop = {{ (output "hostnamectl" "--json=short" | mustFromJson).Chassis | squote }}
is_headless = {{ promptString "headless? ('yes' or 'no')" | squote }}
git_email = {{ promptString "Git email address" | squote }}
