#!/bin/bash

set -euo pipefail

readonly key_file="${XDG_CONFIG_HOME}/chezmoi/age_key.txt"

if [[ ! -f "${key_file}" ]]; then
  age --decrypt --output "${key_file}" "{{ .chezmoi.sourceDir }}/key.txt.age"
  chmod 600 "${key_file}"
fi
