{{- if .is_personal }}
.config/profile-local-personal.sh
{{- else if .is_work }}
.config/profile-local-work.sh
{{- else if .is_wtf }}
.config/profile-local-wtf.sh
{{- else }}
.config/profile-local-server.sh
{{- end }}
