# /etc/exports - exports(5) - directories exported to NFS clients
#
# Example for NFSv3:
#  /srv/home        hostname1(rw,sync) hostname2(ro,sync)
# Example for NFSv4:
#  /srv/nfs4	    hostname1(rw,sync,fsid=0)
#  /srv/nfs4/home   hostname1(rw,sync,nohide)
# Using Kerberos and integrity checking:
#  /srv/nfs4        *(rw,sync,sec=krb5i,fsid=0)
#  /srv/nfs4/home   *(rw,sync,sec=krb5i,nohide)
#
# Use `exportfs -arv` to reload.
/storage {{ output "bash" "-c" "ip -oneline route get to '8.8.8.8' | cut --delimiter ' ' --field 3 | sed --expression='s|^172\\..*|172.16.0.0/12|' --expression='s|^10\\..*|10.0.0.0/8|' --expression='s|^192\\..*|192.168.0.0/16|'" | trim }}(ro,all_squash,insecure,no_subtree_check)
