AcceptEnv LANG LC_*
AllowUsers {{ .chezmoi.username }}
AuthenticationMethods publickey
KbdInteractiveAuthentication no
LoginGraceTime 20m
LogLevel VERBOSE
PasswordAuthentication no
PermitEmptyPasswords no
PermitRootLogin no
PrintMotd no
Protocol 2
UsePAM yes
X11Forwarding no
