Port 1349
AllowUsers {{ .chezmoi.username }}
PermitRootLogin no
PasswordAuthentication no
PermitEmptyPasswords no
KbdInteractiveAuthentication no
AuthenticationMethods publickey
LoginGraceTime 20m
LogLevel VERBOSE
UsePAM yes
X11Forwarding yes
PrintMotd no
AcceptEnv LANG LC_*
