{{- if .is_personal }}
{{ .chezmoi.homeDir }}/.config/maven/settings-personal.xml
{{- else if .is_work }}
{{ .chezmoi.homeDir }}/.config/maven/settings-work.xml
{{- else }}
{{ .chezmoi.homeDir }}/.config/maven/settings-server.xml
{{- end }}
