{{- if .is_personal }}
{{ .chezmoi.homeDir }}/{{ .paths.xdg_config_home }}/maven/settings-personal.xml
{{- else if .is_work }}
{{ .chezmoi.homeDir }}/{{ .paths.xdg_config_home }}/maven/settings-work.xml
{{- else }}
{{ .chezmoi.homeDir }}/{{ .paths.xdg_config_home }}/maven/settings-server.xml
{{- end }}
