{{- if .is_personal }}
{{ env "XDG_CONFIG_HOME" }}/maven/settings-personal.xml
{{- else if .is_work }}
{{ env "XDG_CONFIG_HOME" }}/maven/settings-work.xml
{{- else }}
{{ env "XDG_CONFIG_HOME" }}/maven/settings-server.xml
{{- end }}
