[include]
  path = aliases
  path = config-personal.private

[includeIf "gitdir:{{ .chezmoi.homeDir }}/{{ .paths.work_projects_dir }}/"]
  path = config-work.private

[apply]
  whitespace = fix

[branch]
  sort = -committerdate

[color]
  ui = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  frag = magenta bold
  meta = yellow bold
  new = green # additions
  old = red # deletions

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[column]
  ui = auto

[commit]
  gpgSign = true
  verbose = true

[core]
  precomposeUnicode = false
  untrackedCache = true
  whitespace = space-before-tab,-indent-with-non-tab,trailing-space

[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = copies

[diff "bin"]
  textconv = hexdump -v -C

[feature]
  experimental = true

[fetch]
  all = true
  prune = true
  pruneTags = true

[gpg]
  format = ssh

[gpg "ssh"]
  allowedSignersFile = {{ .chezmoi.homeDir }}/{{ .paths.xdg_config_home }}/git/allowed_signers

[grep]
  ignoreCase = true
  patternType = perl

[help]
  autoCorrect = prompt

[init]
  defaultBranch = main
  defaultRefFormat = files

[merge]
  gpgSign = true
  conflictStyle = zdiff3
  log = true

[pager]
  branch = false

[pull]
  rebase = false

[push]
  autoSetupRemote = true
  default = simple
  followTags = true

[rebase]
  gpgSign = true
  updateRefs = true

[rerere]
  autoUpdate = true
  enabled = true

[tag]
  gpgSign = true
  sort = version:refname

[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"

[url "git@gist.github.com:"]
  insteadOf = "gst:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"

[url "git://github.com/"]
  insteadOf = "github:"

[url "git://gist.github.com/"]
  insteadOf = "gist:"

