# With this option, for each file it intends to download, Wget will check
# whether a local file of the same name exists. If it does, and the remote file
# is not newer, Wget will not download it. If the local file does not exist, or
# the sizes of the files do not match, Wget will download the remote file no
# matter what the time-stamps say.
timestamping = on

# Disallow retrieving outside the directory hierarchy, like '--no-parent'.
no_parent = on

# Set all applicable timeout values to n, the same as '-T n'.
timeout = 60

# Set number of retries per URL—the same as '-t n'.
tries = 3

# When set to on, consider “connection refused” a transient error—the same as
# '--retry-connrefused'.
retry_connrefused = on

hsts-file = {{ .chezmoi.homeDir }}/.local/share/wget-hsts
